// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Add by TGR Team

$cream: #FFD9B3;
$pink: #E897A2;
$lavender: #D6B3FE;
$blue-sea: #97C1E8;
$viridian: #068D9D;
