.container-form {
  flex-direction:row;
  content:justify;
  max-width:100%;
  background-image: asset-url('Ethical_wardrobe1.jpg');
  color:white;
}

.content-form {
  max-width:600px;
  margin:0 auto;
}
