<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
<div class="text-center">
  <div class="bg">
    <div class="banner-content">
      <div class=mb-4>
      </div>
        <%= form_tag products_path, method: :get do %>
          <div class="d-flex">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Email"
          %>
        </div>

        <div class="d-flex">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Password"
          %>
          <%= submit_tag "Login", class: "btn" %>
        </div>

      <% end %>
    </div>
  </div>

<div class="home-content m-3 p-5">

<div class="text p-5">
  <div class="row">
    <div class="col-6">
      <div class="app">
        <h1 class= "m-3">A quoi sert l'app ?</h1></br>
        <p class= "subtitle"> Avec The Good Wardrobe, vous pouvez gérer votre garderobe afin de la
        rendre plus responsable </p>
      </div>
    </div>
    <div class="col-6">
      <div class="chiffres">
        <h1 class= "m-3">Chiffres sur le prêt à porter</h1></br>
          <p>Des chiffres</p>
          <p>Des impacts envionnmentaux</p>
          <p>Des impacts humains</p>
      </div>
    </div>
  </div>
</div>
</div>
© 2020 The Good Wardrobe, Inc.
